.cart__empty{
    margin: 0 auto;
    height: 100vh;
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    place-items: center;

    .empty__title{
        font-size: clamp(1em, 3vw, 2.5em);
        color: black;
    }
}

.container__cart{
    height: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    background-color: lightblue;

    .cart__main{
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .cart__h2{
            color: black;
            font-size: 1.5em;
            text-align: left;
            text-decoration:underline ;
            margin:20px;
        }

        .cart__products{
            margin: 20px;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }


}

.container__form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;

    .form__title{
        color: black;
        font-size: 1.5em;
        text-align: center;
        text-decoration: underline;
    }
    .form__cart{
        margin: 20px;
    }
}

.cart__total{
    display: flex;
    flex-direction: row;
    justify-content: center;

    .cart__total--p{
        margin-bottom: 1rem;

        color: black;
        font-size: 1.5em;
        display: flex;
        flex-direction: row;
        gap: 0.5em;

        span{
            font-size: 1.7rem;
            font-weight: 700;
            color: black;
        }
    }
}